body {
    font-size: 1rem;
}


:root{
    --first-color:#004D40 ;
    --second-color:#26A69A ;
    --third-color: #E0F2F1;
}

.sidebar {
    position: absolute;
    top: 15%;
    background-color: var(--third-color);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.active {
    background-color: var(--first-color);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--third-color);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: var(--second-color);
    color: white;
}