html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.lesserDiv
{
    height: 80%;
}

:root {
    --first-color: #004D40;
    --second-color: #26A69A;
    --third-color: #E0F2F1;
}

.App {
    text-align: center;
}

.App-logo {
    height: 100px;
}

.App-header {
    float: top;
    background-color: var(--first-color);
    height: 15%;
    align-items: center;
}

.App-menu {
    float: left;
    text-align: left;
    width: 15%;
    height: 80%;
}

.Main-div {
    float: right;
    width: 80%;
    height: 100%;
}

body {
    font-size: 1rem;
}

:root {
    --first-color: #004D40;
    --second-color: #26A69A;
    --third-color: #E0F2F1;
}

.sidebar {
    background-color: var(--third-color);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: calc(85vh);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.active {
    background-color: var(--first-color);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--third-color);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: var(--second-color);
    color: white;
}

.Modal {
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 140px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50px;
}

.ModalData{
    position: absolute;
    padding: 30px;
    top: 20%;
    left: 20%;
    width: 65%;
    height: 520px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50px;
}

.ModalColors {
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 300px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50px;
}

.ModalEtiquettes{
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 220px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50px;
}


.ModalLegend{
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 220px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50px;
}


.Overlay {
    opacity: 0.8;
}

.modalText{
    font-size: 20px;
    color: white;
}

.margins{
    margin-bottom: .2rem;
    margin-left: 1rem;
}


