html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%;}

:root{
    --first-color:#004D40 ;
    --second-color:#26A69A ;
    --third-color: #E0F2F1;
}


.App {
    text-align: center;
}

.App-logo {
    height: 100%;
}

.App-header {
    float: top;
    background-color: var(--first-color);
    height: 15%;
    align-items: center;
}


.App-menu {
    float: left;
    text-align: left;
    width: auto;
}

.Main-div {
    float: right;
    text-align: center;
    width: 80%;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
