html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

div {
    height: 100%;
    width: 100%;
}

.lesserDiv
{
    height: 80%;
}

:root {
    --first-color: #004D40;
    --second-color: #26A69A;
    --third-color: #E0F2F1;
}

.App {
    text-align: center;
}

.App-logo {
    height: 100%;
}

.App-header {
    float: top;
    background-color: var(--first-color);
    height: 15%;
    align-items: center;
}

.App-menu {
    float: left;
    text-align: left;
    width: 15%;
    height: 80%;
}

.Main-div {
    float: right;
    width: 80%;
    height: 100%;
}

body {
    font-size: 1rem;
}

:root {
    --first-color: #004D40;
    --second-color: #26A69A;
    --third-color: #E0F2F1;
}

.sidebar {
    background-color: var(--third-color);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: calc(85vh);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.active {
    background-color: var(--first-color);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--third-color);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: var(--second-color);
    color: white;
}