.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 5vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-menu {
    float: left;
    text-align: left;
    width: auto;
}

.Main-div {
    text-align: center;
    width: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
